@model ADSBackend.Models.Pass

@{
    ViewData["Title"] = "Details";
}

<div class="ibox">
    <div class="ibox-title">
        <h2>Details | Passes</h2>
        <p>
            <a asp-action="Index" class="btn btn-primary">Back to List</a>
        </p>
    </div>
    <div class="ibox-content">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.PassTypeId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SignInTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SignOutTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StartDate)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.User)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.ReviewerId)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.PassType.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.StartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.SignInTime.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.SignOutTime)
                            </td>


                            <td>
                                @Html.DisplayFor(model => model.User.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Reviewer.FirstName)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@Model.PassId" class="btn btn-primary">Edit</a>
                            </td>
                        </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>