@model IEnumerable<ADSBackend.Models.Pass>

@{
    ViewData["Title"] = "Index";
}

<div class="ibox">
    <div class="ibox-title">
        <h2>Create Passes</h2>
        <p>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </p>
    </div>
    <div class="ibox-content">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.PassTypeId)
                        </th> 
                        <th>
                            @Html.DisplayNameFor(model => model.SignOutTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StartDate)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.User)
                        </th>
                        
                        <th>
                            @Html.DisplayNameFor(model => model.ReviewerId)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.PassType.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SignOutTime.TimeOfDay)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.StartDate.Ticks)
                            </td>
                    
                            <td>
                                @Html.DisplayFor(modelItem => item.User.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Reviewer.FirstName)
                            </td>
                            <td>
                                <a href="/Timer" class="btn btn-primary">Timer</a>
                                <a asp-action="Edit" asp-route-id="@item.PassId" class="btn btn-primary">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.PassId" class="btn btn-primary">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.PassId" class="btn btn-primary">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
                    
            </table>
        </div>
    </div>
</div>