@model ADSBackend.Models.ReportStudent

@{
    ViewData["Title"] = "Index";
}

<div class="ibox">
    <div class="ibox-title">
        <h2>Details | Report a Student</h2>
        <p>
            <a asp-action="Index" class="btn btn-primary">Back to List</a>
        </p>
    </div>
    <div class="ibox-content">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.User)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Student)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.User.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Student.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Name.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Description)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@Model.ReportId" class="btn btn-primary">Edit</a>
                                <a asp-action="Delete" asp-route-id="@Model.ReportId" class="btn btn-primary">Delete</a>
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>