@model IEnumerable<ADSBackend.Models.Restriction>
@{
    ViewData["Title"] = "Index";
}
<div class="ibox">
    <div class="ibox-title">
        <h2>Manage Users</h2>
        <p>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </p>
    </div>
    <div class="ibox-content">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.staffName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IssuedDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.cName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.restrictionType)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.staffName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IssuedDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.cName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.restrictionType)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>